/* Image upload page */
#image-list {
    margin-top: 50px;
}

#image-list > #image-template {
    display: none;
}

#image-list > .image-block {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
    display: inline-block;
    height: 100px;
    width: 100px;
}

#image-list > .image-block:hover {
    border: 1px solid #808080
}

#image-list > .image-block img {
}

/* Image view page */
#image-view {
    text-align: center;
}

#image-view > img {
    max-width: 100%;
}
